body {
    background-color: rgb(0, 255, 136);
}

.btn {
    cursor: pointer
}

body {
    color: white;
}

.clicked {
    color: blue;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}